
@{
    ViewBag.Title = "EmptyCart";
    Layout = "~/Views/Shared/HomePage.cshtml";
}

<div style="margin:10px 20px">
    <h2 style="text-align:center;font-size:2.5rem;margin:20px 0 100px 0">CHƯA CÓ SẢN PHẨM</h2>
    </div>

