@model IEnumerable<Levent.Models.Product>




<div class="clo-list">
    @foreach (var pro in Model)
    {
        <div class="clo-4">
            <div class="item">
                <div class="img">
                    <a href="/Product/Products_Detail/@pro.ID_Pro">
                        <img src="@Url.Content(pro.Image_Pro)" alt="">
                    </a>
                </div>
                <div class="des">
                    <a href="/Product/Products_Detail/@pro.ID_Pro">LEVENTS® @pro.Name_Pro</a>
                    <div class="price" data="price">@pro.Price_pro.000 vnđ</div>
                </div>
            </div>
        </div>
     }
    </div>