@{
    ViewBag.Title = "Home Page";
}


<div class="main-slider">
    <div class="slider">
        <img src="https://levents.asia/wp-content/uploads/2023/10/Có-thể-nào-1920x988.png" alt="">
            <div class="text">
                <a href="https://levents.asia/shop/">NEW PRODUCT LINE LEVENTS® CLASSIC</a>
            </div>
    </div>
   
</div>

<div class="sec-80">
    <div class="clo">
        <h2 class="sec-title">
            NEW PRODUCT LINE LEVENTS® CLASSIC
        </h2>
        @Html.Action("Product_Index_Main","Product")
        <div class="sec-btn">
            <a href="https://levents.asia/shop/">Xem thêm</a>
        </div>
    </div>
</div>
<div class="title-video">
    F/W 2023 CAMPAIGN VIDEO
</div>
<div class="slider-video">
    <div class="video">
        <video src="https://levents.asia/wp-content/uploads/2023/09/Final_bản-web-17mb.mp4" autoplay loop muted></video>
    </div>
    <div class="text-video">
        <a href="https://levents.asia/shop/">Bộ sưu tập mới của Levents!</a>
    </div>
</div>

<div class="text-stylist">
    <h2>BỘ PHỐI CỦA LEVENTS</h2>
</div>
<div class="stylist">
    <div class="col-2">
        <div class="sty-item">
            <div class="sty-img">
                <img src="https://levents.asia/wp-content/uploads/2023/07/Famale-3-Front-683x1024.png" alt="">
            </div>
            <div class="sty-subtitle">
                LEVENTS® HEART PUZZLE TEE/ BLACK <br>
                <a href="https://levents.asia/styling/">Xem bộ sưu tập</a>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="sty-item">
            <div class="sty-img">
                <img src="https://levents.asia/wp-content/uploads/2023/07/Male-7-Front-1024x1536.png" alt="">
            </div>
            <div class="sty-subtitle">
                LEVENTS® HOT AIR BALLOON TEE/ CREAM<br>
                <a href="https://levents.asia/styling/">Xem bộ sưu tập</a>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="sty-item">
            <div class="sty-img">
                <img src="https://levents.asia/wp-content/uploads/2023/07/Male-5-Front-1000x1500.png" alt="">
            </div>
            <div class="sty-subtitle">
                LEVENTS® PIXEL FLOWER TEE/ BLACK<br>
                <a href="https://levents.asia/styling/">Xem bộ sưu tập</a>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="sty-item">
            <div class="sty-img">
                <img src="https://levents.asia/wp-content/uploads/2023/07/Famale-4-Front-768x1152.png" alt="">
            </div>
            <div class="sty-subtitle">
                LEVENTS® FLOWER CART RAGLAN REGULAR<br>
                <a href="https://levents.asia/styling/">Xem bộ sưu tập</a>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="sty-item">
            <div class="sty-img">
                <img src="https://levents.asia/wp-content/uploads/2023/07/Famale-7-Front-1000x1500.png" alt="">
            </div>
            <div class="sty-subtitle">
                LEVENTS® JOGGER TEE/ GREEN<br>
                <a href="https://levents.asia/styling/">Xem bộ sưu tập</a>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="sty-item">
            <div class="sty-img">
                <img src="https://levents.asia/wp-content/uploads/2023/07/Male-3-Front-1024x1536.png" alt="">
            </div>
            <div class="sty-subtitle">
                LEVENTS® BASIC BOXY HOODIE/ BROWN<br>
                <a href="https://levents.asia/styling/">Xem bộ sưu tập</a>
            </div>
        </div>
    </div>
</div>
<div class="address-mess">
    <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4478566049024!2d106.6638653147862!3d10.77696999232121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f449e9d9bc9%3A0x303d1df7f8ed6194!2zTEVWRU5UU8Ku!5e0!3m2!1svi!2s!4v1650093647553!5m2!1svi!2s" frameborder="0"></iframe>
    </div>
    <!-- <div class="clear"></div> -->
    <div class="message">
        <h3>
            GỬI TIN NHẮN NGAY CHO LEVENTS <br>
            KHI BẠN CẦN HỖ TRỢ HOẶC CÓ THẮC MẮC NHÉ!
        </h3>
        <input class="inf" type="text" placeholder="Họ và tên">
        <input class="inf" style="width: 45%; float: left;" type="email" placeholder="Email">
        <input class="inf" style="width: 45%; float: right;" type="number" placeholder="Số điện thoại">
        <input class="mess" type="text" placeholder="Lời nhắn">
        <button class="btn"><div>Gửi đi</div></button>
    </div>

    <div class="clear"></div>
</div>