@model IEnumerable<Levent.Models.Product>

@{
    ViewBag.Title = "Product_Control";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2 style="text-align:center">LIST PRODUCT</h2>
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>Image</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Image Link</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img style="border-radius:0%!important" src="@Url.Content(item.Image_Pro)" height="150" width="150" id="previewImg" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID_Pro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name_Pro)
                        </td>
                        <td>
                            <label class="badge badge-danger">
                                @Html.DisplayFor(modelItem => item.Image_Pro)
                            </label>
                        </td>
                        <td>
                            <a href="Product_Edit/@item.ID_Pro" class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="Product_Delete/@item.ID_Pro" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="Product_Detail/@item.ID_Pro" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>