
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomePage.cshtml";
}
<link href="~/Assests/css/shop.css" rel="stylesheet" />
<div class="bc">
    <div class="con">
        <ul class="bc-list">
            <li class="home">@Html.ActionLink("Trang chủ", "Index", "Home")</li>
            <li>/</li>
            <li class="cuahang">Cửa hàng</li>
        </ul>
    </div>
</div>
<section class="sec-80">
    <div class="con">
        <div class="filterJS">
            <div class="filter-btn"><i class="ti-filter"></i> Bộ lọc</div>
            <div class="filter-select">Lọc bởi</div>
            <div class="filter-select-a">
                <a href="">Lọc bởi</a>
            </div>
        </div>
    </div>
    <!-- item -->

    <div class="pd-list">
        <!-- 1 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-regular-tee-black/?c=levents-classic-regular-tee-black">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740516616222_59cae362231b3025116ed720f7f6adc7-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color:#0a0a0a"></div>
                                    <div class="chosse-color" style="background-color: #F4F4F4"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bot">
                    <div class="des">
                        <a href="https://levents.asia/product/levents-classic-sweater-blue/?c=levents-classic-sweater-cream">LEVENTS® CLASSIC REGULAR TEE/ BLACK</a>
                        <div class="price" data="price">370,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 2 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-regular-tee-black/?c=levents-classic-regular-tee-white">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740516844906_204055cb1c4c997527efdec05bfdcd7b-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color: #F4F4F4;"></div>
                                    <div class="chosse-color" style="background-color: #0a0a0a"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bot">
                    <div class="des">
                        <a href="https://levents.asia/product/levents-classic-regular-tee-black/?c=levents-classic-regular-tee-white">LEVENTS® CLASSIC REGULAR TEE/ WHITE</a>
                        <div class="price" data="price">370,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 3 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-regular-polo-white/?c=levents-classic-regular-polo-white">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740519302008_6d6e4b97604723bdad9f2b9819a142e7-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color: #F4F4F4"></div>
                                    <div class="chosse-color" style="background-color: #0a0a0a"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bot">
                    <div class="des">
                        <a href="https://levents.asia/product/levents-classic-regular-polo-white/?c=levents-classic-regular-polo-white">LEVENTS® CLASSIC REGULAR POLO/ WHITE</a>
                        <div class="price" data="price">420,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 4 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-regular-polo-white/?c=levents-classic-regular-polo-black">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740519159388_8783a2dd4bc415be4bd92dbcdcd40403-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color:#0a0a0a"></div>
                                    <div class="chosse-color" style="background-color: #F4F4F4"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bot">
                    <div class="des">
                        <a href="https://levents.asia/product/levents-classic-regular-polo-white/?c=levents-classic-regular-polo-black">LEVENTS® CLASSIC REGULAR POLO/ BLACK</a>
                        <div class="price" data="price">420,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 5 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-zipper-hoodie-dark-green/?c=levents-classic-zipper-hoodie-black">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740509766771_e79d9cd5055e45c33ff2dafa38357437-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color:#0a0a0a;"></div>
                                    <div class="chosse-color" style="background-color: #F4F4F4"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bot">
                    <div class="des">
                        <a href="https://levents.asia/product/levents-classic-zipper-hoodie-dark-green/?c=levents-classic-zipper-hoodie-black">LEVENTS® CLASSIC ZIPPER HOODIE/ BLACK</a>
                        <div class="price" data="price">620,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 6 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-zipper-hoodie-dark-green/?c=levents-classic-zipper-hoodie-dark-green">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740509999921_d6e4df2f3cfef1b68dd9b1b2083dc20e-min-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color:#0a0a0a"></div>
                                    <div class="chosse-color" style="background-color: #F4F4F4"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bot">
                    <div class="des">
                        <a href="https://levents.asia/product/levents-classic-zipper-hoodie-dark-green/?c=levents-classic-zipper-hoodie-dark-green">LEVENTS® CLASSIC ZIPPER HOODIE/ GREEN</a>
                        <div class="price" data="price">620,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 7 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-hoodie/?c=levents-classic-hoodie-black">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740510180543_8a6e0faf41a51daad0ed775517f0be91-1-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color:#0a0a0a"></div>
                                    <div class="chosse-color" style="background-color: #F4F4F4"></div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="bot">
                    <div class="des">
                        <a href="https://levents.asia/product/levents-classic-hoodie/?c=levents-classic-hoodie-black">LEVENTS® CLASSIC HOODIE/ BLACK</a>
                        <div class="price" data="price">590,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 8 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-hoodie/?c=levents-classic-hoodie-cream">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740510882566_9c7a5bec3cae3ff6afef0df14d590ddb-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color:#0a0a0a"></div>
                                    <div class="chosse-color" style="background-color: #F4F4F4"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bot">
                    <div class="des">
                        <a href="https://levents.asia/product/levents-classic-hoodie/?c=levents-classic-hoodie-cream">LEVENTS® CLASSIC HOODIE/ CREAM</a>
                        <div class="price" data="price">590,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 9 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-sweater-blue/?c=levents-classic-sweater-cream">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740517730212_2a947a2a236c075797d12427654a7556-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color:#0a0a0a"></div>
                                    <div class="chosse-color" style="background-color: #F4F4F4"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bot">
                    <div class="des">
                        <a href="https://levents.asia/product/levents-classic-sweater-blue/?c=levents-classic-sweater-cream">LEVENTS® CLASSIC SWEATER/ CREAM</a>
                        <div class="price" data="price">490,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 10 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-sweater-blue/?c=levents-classic-sweater-blue">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740517545480_93f69d1b02941b3d66581a69fb3c384a-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color:#0a0a0a"></div>
                                    <div class="chosse-color" style="background-color: #F4F4F4"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bot">
                    <div class="des">
                        <a href="https://levents.asia/product/levents-classic-sweater-blue/?c=levents-classic-sweater-blue">LEVENTS® CLASSIC SWEATER/ BLUE</a>
                        <div class="price" data="price">490,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 11 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-shortpants-black/?c=levents-classic-shortpants-cream">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740519732919_1a6835551178815f90fbdcb58e95ecab-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color:#0a0a0a"></div>
                                    <div class="chosse-color" style="background-color: #F4F4F4"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bot">
                    <div class="des">
                        <a href="https://levents.asia/product/levents-classic-shortpants-black/?c=levents-classic-shortpants-cream">LEVENTS® CLASSIC SHORTPANTS/ CREAM</a>
                        <div class="price" data="price">390,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 12 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-shortpants-black/?c=levents-classic-shortpants-black">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740519534097_7d10d4a42f55a0990432b644bc6f831c-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color:#0a0a0a"></div>
                                    <div class="chosse-color" style="background-color: #F4F4F4"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bot">
                    <div class="des">
                        <a href="https://levents.asia/product/levents-classic-shortpants-black/?c=levents-classic-shortpants-black">LEVENTS® CLASSIC SHORTPANTS/ BLACK</a>
                        <div class="price" data="price">390,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 13 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-line-track-pants-black/?c=levents-classic-line-track-pants-black">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740516430875_be9f81b1151fe1acc362dc0cf8ec2b85-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color:#0a0a0a"></div>
                                    <div class="chosse-color" style="background-color: #F4F4F4"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bot">
                    <div class="des">
                        <a style="letter-spacing: -1px;" href="https://levents.asia/product/levents-classic-line-track-pants-black/?c=levents-classic-line-track-pants-black">LEVENTS® CLASSIC LINE TRACK PANTS/ BLACK</a>
                        <div class="price" data="price">470,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 14 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-wash-straight-jeans-blue/?c=levents-classic-wash-straight-jeans-blue">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740511437425_5360a0d7b49c5c04fb4be050e537536d-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color:#0a0a0a"></div>
                                    <div class="chosse-color" style="background-color: #F4F4F4"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bot">
                    <div class="des">
                        <a href="https://levents.asia/product/levents-classic-wash-straight-jeans-blue/?c=levents-classic-wash-straight-jeans-blue">LEVENTS® CLASSIC STRIPED LONG SLEEVE SHIRT/ BLUE</a>
                        <div class="price" data="price">610,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 15 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-striped-long-sleeve-shirt-blue/?c=levents-classic-striped-long-sleeve-shirt-blue">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740517150589_f093bad8a0bee60ddcfb71cabd5a2dfc-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color:#0a0a0a"></div>
                                    <div class="chosse-color" style="background-color: #F4F4F4"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bot">
                    <div class="des">
                        <a href="https://levents.asia/product/levents-classic-striped-long-sleeve-shirt-blue/?c=levents-classic-striped-long-sleeve-shirt-blue">LEVENTS® CLASSIC STRIPED LONG SLEEVE SHIRT/ BLUE</a>
                        <div class="price" data="price">430,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 16 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-track-pants-black/?c=levents-classic-track-pants-black">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740518054498_c1f55bb063956b7ced14ff9a2edd9213-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color:#0a0a0a"></div>
                                    <div class="chosse-color" style="background-color: #F4F4F4"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bot">
                    <div class="des">
                        <a href="https://levents.asia/product/levents-classic-track-pants-black/?c=levents-classic-track-pants-black">LEVENTS® CLASSIC TRACK PANTS/ BLACK</a>
                        <div class="price" data="price">470,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 17 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-cap-green/?c=levents-classic-cap-green">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740509478772_0e49eeede85583c4c81a8338e1251de0-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color:#0a0a0a"></div>
                                    <div class="chosse-color" style="background-color: #F4F4F4"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bot">
                    <div class="des">
                        <a href="https://levents.asia/product/levents-classic-cap-green/?c=levents-classic-cap-green">LEVENTS® CLASSIC CAP/ GREEN</a>
                        <div class="price" data="price">320,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 18 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-cap-green/?c=levents-classic-cap-blue">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740509207012_b3e69c8cb40d5196a4dff23f7a5b5186-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color:#0a0a0a"></div>
                                    <div class="chosse-color" style="background-color: #F4F4F4"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bot">
                    <div class="des">
                        <a href="https://levents.asia/product/levents-classic-cap-green/?c=levents-classic-cap-blue">
                            LEVENTS® CLASSIC CAP/ BLUE/a>
                            <div class="price" data="price">320,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 19 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-2tone-cap-black/?c=levents-classic-2tone-cap-black">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740508774117_f2eb18d669905bda00bd37c6314aea0a-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color:#0a0a0a"></div>
                                    <div class="chosse-color" style="background-color: #F4F4F4"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bot">
                    <div class="des">
                        <a href="https://levents.asia/product/levents-classic-2tone-cap-black/?c=levents-classic-2tone-cap-black">LEVENTS® CLASSIC 2TONE CAP/ BLACK</a>
                        <div class="price" data="price">320,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 20 -->
        <div class="col-3">
            <div class="item">
                <div class="top">
                    <a href="https://levents.asia/product/levents-classic-2tone-cap-black/?c=levents-classic-2tone-cap-green">
                        <div class="img">
                            <img src="https://levents.asia/wp-content/uploads/2023/08/z4740509043478_022b797cdf44e49cec28c0cd9091e550-400x500.jpg" alt="">
                            <div class="color">
                                <div class="col-btn">
                                    <div class="chosse-color" style="background-color:#0a0a0a"></div>
                                    <div class="chosse-color" style="background-color: green"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bot">
                    <div class="des">
                        <a href="https://levents.asia/product/levents-classic-2tone-cap-black/?c=levents-classic-2tone-cap-green">LEVENTS® CLASSIC 2TONE CAP/ GREEN</a>
                        <div class="price" data="price">320,000 vnđ</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-btn">
        <a href="https://levents.asia/shop/?current-page=2">Xem thêm</a>
    </div>
</section>
<section class="sec-img">
    <div class="con">
        <div class="con-img">
            <img style="width: 100%; height: auto;" src="https://levents.asia/wp-content/uploads/2023/03/1920x760-1920x988.png" alt="">
        </div>
    </div>
</section>

